# Default cleanliness state is 'distclean', so the files that we gitignore
# should correspond to that.

*DS_Store*
*.*o
*.cache
*.log
*~
*.status
*/.deps/*.*o
*/*/.deps/*.*o
stamp-*
libtool
*/CVS
*/*/CVS
confdefs.h
config.h
conftest*
conf*/*.awk
Makefile
*/Makefile
*/*/Makefile
epeg-config
*.tar.gz
config.h
*lib*.a
*.lo
*.la
*.lai
*.dylib
src/bin/epeg
*/*/*libs/*
doc/latex/*.aux
doc/latex/*.dvi
doc/latex/*.idx
doc/latex/*.ilg
doc/latex/*.ind
doc/latex/*.toc
*.out
*(Autosaved)*
epeg-*.*.*/*
*.trs
epeg-test
epeg_test
*.tmp

# May seem like a regular source file, but actually generated:
epeg.c

# Xcode stuff:
*.pbxbtree
*.pbxuser
*.perspectivev3
*.pbxsymbols
*.pbxstrings
*.pbxindex
*.build
Xcode/build/*
!Xcode/*.ico
