aclocal.m4 linguist-generated
build-aux/compile linguist-vendored
build-aux/config.guess linguist-vendored
build-aux/config.sub linguist-vendored
build-aux/depcomp linguist-vendored
build-aux/install-sh linguist-vendored
build-aux/ltmain.sh linguist-vendored
build-aux/mdate-sh linguist-vendored
build-aux/missing linguist-vendored
build-aux/mkinstalldirs linguist-vendored
build-aux/test-driver linguist-vendored
build-aux/texinfo.tex linguist-vendored
config.h.in linguist-generated
configure linguist-generated
configure.scan linguist-generated
doc/Makefile.in linguist-generated
doc/latex/Makefile.in linguist-generated
doc/texinfo/Makefile.in linguist-generated
m4/libtool.m4 linguist-vendored
m4/lt*.m4 linguist-vendored
Makefile.in linguist-generated
src/Makefile.in linguist-generated
src/bin/Makefile.in linguist-generated
src/lib/Makefile.in linguist-generated
epeg-config.in diff=shell
epeg.c.in diff=c
