*DS_Store*
*.*o
*.cache
*.log
*~
*.status
*/.deps/*.*o
*/*/.deps/*.*o
stamp-h*
libtool
*/CVS
*/*/CVS
confdefs.h
config.h
conftest*
conf*/*.awk
Makefile
*/Makefile
*/*/Makefile
epeg-config
*.tar.gz
config.h
*lib*.a
*.lo
*.la
*.lai
*.dylib
src/bin/epeg
*/*/*libs/*
doc/latex/*.aux
doc/latex/*.dvi
doc/latex/*.idx
doc/latex/*.ilg
doc/latex/*.ind
doc/latex/*.toc
*.out
*(Autosaved)*
epeg-*.*.*/*
