*DS_Store*
*.ps
*.dvi
*.aux
*.toc
*.idx
*.ind
*.ilg
*.log
*.out
*.brf
*.blg
*.bbl
refman.pdf
def/*.def
docbook/*.md5
docbook/*.png
docbook/*.xml
doxylatex/*.pdf
doxylatex/*.png
doxylatex/*.md5
doxylatex/*doxygen.sty
doxylatex/*.tex
html/*.html
html/html.helpindex
html/*.map
html/*.md5
html/epeg_*_*.png
html/graph_legend.png
man/man3/*.3
perlmod/Doxy*.pm
perlmod/doxylatex*.pl
perlmod/doxy*.tex
perlmod/doxyrules.make
rtf/*.md5
rtf/epeg_*_*.png
rtf/epeg_small.png
rtf/refman.rtf
xml/*.xml
xml/*.xsd
xml/*.xslt
xml/epeg.png
